# Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/

# Unity build folders
[Bb]uild/
[Bb]uilds/

# IDE files
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Operating-system files
.DS_Store
Thumbs.db
desktop.ini

# Crash reports
sysinfo.txt